:root {

    /* COLORS */
    --color-primary: #00FFFF;
    --color-secondary: #FFE24E;
    --color-ternary: #404040;
    --color-grey: #CDCDCD;
    --color-grey-dark: #989898;
    --color-grey-darker: #868686;
    --color-white: #FCFCFC;

    /* GLOBAL BUTTON */
    --button-padding-lr: 28px;
    --button-padding-tb: 14px;
    --button-font-size: 12px;
    --button-border-size: 1px;

    /* PRIMARY BUTTON */
    --button-primary-bg-color: var(--color-primary);
    --button-primary-text-color: var(--color-ternary);
    --button-primary-border-color: var(--color-primary);

    /* PRIMARY BUTTON FOCUS */
    --button-primary-focus-bg-color: var(--color-primary);
    --button-primary-focus-text-color: var(--color-ternary);
    --button-primary-focus-border-color: var(--color-ternary);

    /* PRIMARY BUTTON HOVER */
    --button-primary-hover-bg-color: var(--color-ternary);
    --button-primary-hover-text-color: var(--color-primary);
    --button-primary-hover-border-color: var(--color-ternary);

    /* PRIMARY BUTTON DISABLED */
    --button-primary-disabled-bg-color: var(--color-grey);
    --button-primary-disabled-text-color: var(--color-grey-dark);
    --button-primary-disabled-border-color: var(--color-grey);

    /* SECONDARY BUTTON */
    --button-secondary-bg-color: var(--color-ternary);
    --button-secondary-text-color: var(--color-secondary);
    --button-secondary-border-color: var(--color-ternary);

    /* SECONDARY BUTTON FOCUS */
    --button-secondary-focus-bg-color: var(--color-ternary);
    --button-secondary-focus-text-color: var(--color-secondary);
    --button-secondary-focus-border-color: var(--color-secondary);

    /* SECONDARY BUTTON HOVER */
    --button-secondary-hover-bg-color: var(--color-secondary);
    --button-secondary-hover-text-color: var(--color-ternary);
    --button-secondary-hover-border-color: var(--color-secondary);

    /* SECONDARY BUTTON DISABLED */
    --button-secondary-disabled-bg-color: var(--color-grey);
    --button-secondary-disabled-text-color: var(--color-grey-darker);
    --button-secondary-disabled-border-color: var(--color-grey);

    /* OUTLINE BUTTON */
    --button-outline-bg-color: transparent;
    --button-outline-text-color: var(--color-primary);
    --button-outline-border-color: var(--color-primary);

    /* OUTLINE BUTTON FOCUS */
    --button-outline-focus-bg-color: transparent;
    --button-outline-focus-text-color: var(--color-ternary);
    --button-outline-focus-border-color: var(--color-ternary);

    /* OUTLINE BUTTON HOVER */
    --button-outline-hover-bg-color: transparent;
    --button-outline-hover-text-color: var(--color-secondary);
    --button-outline-hover-border-color: var(--color-secondary);

    /* OUTLINE BUTTON DISALBED */
    --button-outline-disabled-bg-color: transparent;
    --button-outline-disabled-text-color: var(--color-grey);
    --button-outline-disabled-border-color: var(--color-grey);



    /* INPUT COLORS */
    --input-font-size: 14px;
    --input-padding-lr: 16px;
    --input-padding-tb: 12px;
    --input-bg-color: var(--color-white);
    --input-text-color: var(--color-ternary);
    --input-border-color: var(--color-grey);
    --input-border-focus-color: var(--color-ternary);
    --input-disabled-bg-color: var(--color-grey);
    --input-disabled-text-color: var(--color-grey-dark);
    --input-disabled-border-color: var(--color-grey);


    /* NAVBAR ITEM */
    --navbar-item-color: var(--color-white);
    --navbar-item-font-size: 16px;


    /* BADGE GLOBAL */
    --badge-border-radius: 12px;
    --badge-font-size: 12px;
    --badge-gap: 10px;
    --badge-padding-lr: 28px;
    --badge-padding-tb: 10px;
    --badge-icon-size: 14px;
    /* BADGE PRIMARY */
    --badge-primary-bg-color: var(--color-primary);
    --badge-primary-text-color: var(--color-ternary);

    /* BADGE SECONDARY */
    --badge-secondary-bg-color: var(--color-secondary);
    --badge-secondary-text-color: var(--color-ternary);

    /* BADGE TERNARY */
    --badge-ternary-bg-color: var(--color-ternary);
    --badge-ternary-text-color: var(--color-primary);


    /* CARD */
    --card-title-font-size: 22px;
    --card-price-font-size: 22px;
    --card-currency-font-size: 18px;
    --card-price-gap: 5px;
}